# List

### Write a program that takes a list of numbers and prints the sum.

In [ ]:
numbers=[]
while True:
    numbers.append(int(input("Enter the Number: ")))
    print(sum(numbers))
    cho = input("more number(Y/n): ").upper()
    if cho=="Y":
        continue
    else:
        break

### Remove all duplicate values from a list while keeping the order.

In [ ]:
numbers=[]
while True:
    numbers.append(input("enter something: "))
    CHO = input("enter \"s\" to Stop: ").upper()
    if CHO == "S":
        break
numbers = set(numbers)
print(list(numbers))

### Given a list, print the largest and smallest values.

In [ ]:
numbers = []
while True:
    numbers.append(int(input("Enter a number: ")))
    cho = input("Enter \"s\" to stop: ").upper()
    if cho == "S":
        break
MIN=MAX = numbers[0]
for x in numbers:
    MAX = max(x,MAX)
    MIN = min(x,MIN)
print(MAX)
print(MIN)

### Input a list and a number → count how many times it appears.

In [ ]:
numbers=[]
while True:
    numbers.append(int(input("Enter a number: ")))
    CHO = input("Enter \"s\" to Stop storing: ").upper()
    if CHO == "S" :
        break
n = int(input("Enter the number that you want to find the duplicates: "))
print(len([x for x in numbers if x==n]))

### Use slicing to reverse a list.

In [ ]:
list1 = ["apple","banana","kiwi","mango","orange"]
print(list1[::-1])

# Tuples

### Input a list and convert it to a tuple.

In [ ]:
list1 = []
while True:
    list1.append(input("Enter an Item: "))
    cho = input("For stop type \"s\" :").upper()
    if cho == "S":
        break
print(list1)
tuple1 = tuple(list1)
print(tuple1)
print(type(tuple1))

### Check if a value exists inside a tuple.

In [ ]:
tuple1 = ("item1","item2","item3","item4","item5")
if len(tuple1) != 0:
    print("Value Exist!!")
else:
    print("Value does not exist!!")

### Tuple Unpacking: Assign each value to x, y, z. Given--> t = (10, 20, 30)

In [ ]:
t = (10, 20, 30)
x,y,z = t 
print(x)
print(y)
print(z)

### Find Index of Element {Input a tuple and print the index of a specific value.}

In [ ]:
l1 = []
while True:
    l1.append(input("Enter something: "))
    cho = input("enter \"s\" for stop: ").upper()
    if cho == "S":
        break
t1 = tuple(l1)
t1.index(input("Enter item to find the index: "))

### Count Elements {Count how many times an element appears in a tuple.}

In [ ]:
l1 = []
while True:
    l1.append(input("Enter something: "))
    cho = input("Enter \"s\" for stop: ").upper()
    if cho == "S":
        break
t1 = tuple(l1)
t1.count(input("Enter items to find duplicate: "))

# SET

### Unique Values {Take a list → convert to a set → print unique items.}

In [ ]:
l1 = ["apple","orange","kiwi","apple","mango","kiwi","orange"]
d1 = set(l1)
print(d1)
type(d1)

### Set Operations {Given two sets:} {Print:}

In [ ]:
A = {1, 2, 3}
B = {3, 4, 5}

#### Union

In [ ]:
A = {1, 2, 3}
B = {3, 4, 5}
print(A.union(B))
print(A|B)

#### Intersection

In [ ]:
A = {1, 2, 3}
B = {3, 4, 5}
print(A.intersection(B))
print(A & B)

#### Difference

In [ ]:
A = {1, 2, 3}
B = {3, 4, 5}
print(A.difference(B))
print(A - B)

### Check if set A is a subset of set B.

In [ ]:
A = {1, 2, 3}
B = {3, 4, 5}

if A & B == A:
    print("A is a subset of B")
else:
    print("A is not subset of B")

### Add and Remove Elements

In [ ]:
A = set()
while True:
    cho = input("Add(a) OR Remove(r) Stop(s) :").upper()
    if cho == "A":
        A.add(input("Enter something: "))
        print(A)
    elif cho == "S":
        break
    elif cho == "R":
        r = input("Enter item that you want to remove: ")
        try:
            A.remove(r)
        except KeyError:
            print("Their is no such value to remove")
        except:
            print("Something not problem")
        else:
            print(A)

### Common Characters {Input two strings → find common characters using sets.}

In [ ]:
x = input("Enter a word: ")
y = input("Enter another word: ")

s1 = set(x)
s2 = set(y)

print(f"Common Charecter: {s1 & s2}")

# DICTIONARY

### Store Student Info {Create a dictionary}:{"name": "John", "age": 21, "grade": "A"}

In [ ]:
import json
student = dict()
student.update({"name":input("Enter Name: ")})
student.update({"age":input("Enter the age: ")})
student.update({"grade":input("Enter grade: ")})
print(student)

### Print each key and value. {Update Dictionary}
#### marks = {"math": 90, "science": 85}
#### Add "english": 88 and update "math": 95.

In [ ]:
marks = {"math": 90, "science": 85}
marks.update({"english":88,"math":95})
print(marks)

### Count Word Frequency
##### Input a sentence → print how many times each word appears.

In [ ]:
sentence = input("Enter a sentence: ")
print(dict(sentence))

### Convert Two Lists to Dictionary
#### keys = ["name", "age"]
#### values = ["Fahad", 21]
#### Create a dictionary using both lists.

In [3]:
keys = ["name", "age"]
values = ["Fahad", 21]
d2 = dict()
lt = keys + values
i=0
while i<len(lt)/2:
    d2.update({lt[i]:lt[i+2]})
    i+=1
print(d2)

{'name': 'Fahad', 'age': 21}

### Find Key with Max Value
#### Given: Print the key with the highest score.
#### scores = {"A": 30, "B": 50, "C": 20}

In [17]:
scores = {"A": 30, "B": 50, "C": 20}
range1 = scores.values()
range2 = scores.keys()
MAX = scores["A"]
for x in range1:
    MAX = max(MAX,x) 
for x in range2:
    if scores[x] == MAX:
        print(f"{x}:{MAX}")

B:50